<footer class="Footer_cpy-right">
    <div class="row footer-top">

        <div class="col-sm-12 col-lg-4 footer-left">
            <h3 class="footer-title text-uppercase mb-lg-4 mb-2"><a href="http://127.0.0.1:8000/index/" class="badge badge-secondary">Фильмотека</a></h3>
            <p class="footerContent">
                Новости кино, интервью и фоторепортажи. Афиша, график кинопремьер. Обзоры фильмов и сериалов, трейлеры, рецензии пользователей, рейтинги. Обои для рабочего стола, постеры.
            </p>
        </div>

        <div class="col-sm-12 col-lg-8 footer-right">
            <div class="news-letter">
                <h3 class="footer-title text-uppercase  mb-lg-4 mb-2">Подписаться на рассылку</h3>
                <p class="footerContent">Подписавшись на рассылку, вы всегда будите в курсе последних новостей кино и сериалов, а также наших специальных предложений</p>
                <form action="#" method="post" class="form-inline">
                    <div class="form-group mr-lg-3 mr-2">
                        <input type="email" class="form-control" required="" id="email" placeholder="Введите ваш email...">
                    </div>
                    <button type="submit" class="btn btn-primary">Подписаться</button>
                </form>
            </div>
            <div class="row sections mt-lg-5 mt-3">
                <div class="col-md-4">
                    <h3 class="footer-title text-uppercase mb-lg-2">
                        Разделы</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="index.html" class="alert-link">Главная</a>
                        </li>
                        <li>
                            <a href="about.html" class="alert-link">Категории</a>
                        </li>
                        <li>
                            <a href="contact.html" class="alert-link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="footer-title text-uppercas mb-lg-2 mb-0 pl-lg-0 pl-2">
                        Pages</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="alert-link pl-lg-0 pl-2">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="alert-link pl-lg-0 pl-2">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="alert-link pl-lg-0 pl-2">About Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 class="footer-title text-uppercase mb-lg-2">
                        Контактная информация</h3>
                    <div class="contact-info">
                        <div class="footer-address-info my-lg-1">
                            <h4 class="mb-2">Email </h4>
                            <p class="alert-link"><a href="mailto:stuzhikov@gmail.com">stuzhikov@gmail.com</a>
                            </p>
                        </div>
                        <div class="footer-address-info my-lg-1">
                            <h4 class="mb-2">Адрес</h4>
                            <p class="text">Санкт-Петербург</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="empty"></div>
    <div class="cpy-right">
        <p>© 2020 Фильмотека  |  Руководитель Дипломной работы:	Смольянинов Антон Валентинович  |  Дипломный проект для УНИВЕРСИТЕТА
            <a href="https://itmo.ru/ru/" class="alert-link"> ИТМО.</a>
        </p>
    </div>
</footer>


